extends layout.pug

block body
      .max-w-md.w-full
        div.text-center
          h2.mt-6.text-center.text-3xl.leading-9.font-extrabold
            | Welcome
          a.mt-6.text-center.text-1xl.leading-9.font-extrabold.text-indigo-500(href='/post')
            | Post a message 
